name: Check for Oversized Files

on:
  workflow_dispatch:

jobs:
  check-for-oversized-files:
    name: Check for Oversized Files
    runs-on: ubuntu-slim
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: Checkout Branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check for Oversized Files
        uses: freenet-actions/check-file-size@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_find: true
          max_size: 8000
          post_comment: false
