name: Testing (PR)
on:
  pull_request
jobs:
  testing-build:
    name: ${{ matrix.command }}
    strategy:
      fail-fast: false
      matrix:
        command: [npm run build]
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          check-latest: true
          cache: npm
      - name: Install Dependencies
        run: npm ci --ignore-scripts
      - name: Run ${{ matrix.command }}
        run: ${{ matrix.command }}
